@font-face {
    font-family: 'MB';
    src: url(../font/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'MB';
    src: url(../font/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'MB';
    src: url(../font/Montserrat-Regular.ttf);
}